/*
	Grundlegendes Stylesheet für ZVDD Validator.
	Benötigt noch Verfeinerungen und Anpassungen an das ZVDD Design.
	2013 Sven-S. Porst, SUB Göttingen <porst@sub.uni-goettingen.de>
*/

.zvdd-validator form {
	position: relative;
	padding-bottom: 0.5em;
	background: #eee;
}

.zvdd-validator .form-item {
	margin-bottom: 6px;
	display: none;
}

.zvdd-validator .form-item.current {
	display: block
}

.zvdd-validator .form-item2 {
	position: absolute;
	bottom: 1.5em;
	right: 1em;
}

.zvdd-validator label {
	float: left;
	width: 85px;
	text-align: right;
	font-weight: bold;
}

.zvdd-validator input,
.zvdd-validator textarea {
	width: 80%;
	margin-left: 6px;
}

.zvdd-validator textarea {
	height: 48px;
}

.zvdd-validator .validationError {
	position: absolute;
	right: 1em;
	bottom: 4em;
	color: #f00;
	font-size: 80%;
}

.zvdd-validator .validationError.hidden {
	display: none;
}

.zvdd-validator .send-button {
	width: auto;
	font-size: 166%;
}


/* Menü zur Auswahl der Eingabemethode: url/xml/file */
.zvdd-validator .validate-menu {
	padding: 4px 0 0 0;
	border: #eee solid 1px;
}

.zvdd-validator .validate-menu li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 4px 6px;
}

.zvdd-validator .validate-menu li.current {
	background: #fff;
}

.zvdd-validator .validate-menu input {
	display: none;
}

.zvdd-validator .validate-menu label {
	float: none;
	width: auto;
	text-align: left;
	cursor: pointer;
}


/* Darstellung der Fehlermeldungen */

.zvdd-validator li {
    margin: 1em;
    max-width: 40em;
}

.zvdd-validator .pathContainer,
.zvdd-validator .message {
    display: block;
}

.zvdd-validator .path {
    color: #999;
}

.zvdd-validator .label {
    font-weight: bold;
}

.zvdd-validator .path {
    font-family: Consolas, Courier, monospace;
}

.zvdd-validator .message {
    font-style: italic;
}
