Schema for Purchase Order Example


From pattern "Purchase Orders": 
     Assertion fails: "A purchase order should have a billTo element."  at 
         /purchaseOrder[1] 
        <purchaseOrder>...</> 
     Assertion fails: "A purchase order should have an orderDate attribute."  at 
         /purchaseOrder[1] 
        <purchaseOrder>...</> 

From pattern "US Address": 
     Assertion fails: "An address should have a state."  at 
         /purchaseOrder[1]/shipTo[1] 
        <shipTo place="AU">...</> 

From pattern "Specific Elements": 
      Report: "A comment should have no subelements"  at 
         /purchaseOrder[1]/comment[1] 
        <comment>...</>
     Assertion fails: "The items element can only contain item elements"  at 
         /purchaseOrder[1]/items[1] 
        <items>...</> 
     Assertion fails: "The item element should contain a quantity element"  at 
         /purchaseOrder[1]/items[1]/item[1] 
        <item partNum="926-AA">...</> 